setuptools>=38.6.0
twine>=1.11.0
wheel>=0.31.0
pytest
pytest-cov
notebook
matplotlib
ipywidgets
appmode
pydoc-markdown
mock
flake8
black
nbval
git+https://github.com/thedataincubator/expectexception.git@master
goodtables
