setuptools>=38.6.0
twine>=1.11.0
wheel>=0.31.0
pytest
pytest-cov
notebook
matplotlib
ipywidgets
appmode
pydoc-markdown
mock
flake8
black
nbval
git+https://github.com/thedataincubator/expectexception.git@master
git+https://github.com/IAMconsortium/pyam.git@master

# pint related stuff
numpy
cython
# until new release
git+https://github.com/hgrecco/pint.git@master
# until new release which can include pint
git+https://github.com/pandas-dev/pandas.git@master
